<div style="padding-top: 20px;">
  <div>
    <button class="btn btn-outline-success my-2 my-sm-0" data-toggle="modal" data-target="#myModal">
      Book Room
    </button>
    <input [ngModel]="bookingDate | date:'yyyy-MM-dd'" class="form-control pull-right my-2 my-sm-0" style="width: 200px; border: 1px blue solid;"
      (ngModelChange)="bookingDate = $event; onCurrentChange($event);" type="date" 
      name="bookingDate"/>
  </div>

  <br/>
  
  <div *ngIf="bookings.length == 0">
      <div class="card-block">
          <h4 class="card-title">No bookings done yet.</h4>
      </div>
  </div>
  <div class="row">
    <div *ngFor="let booking of bookings; let i = index;" class="col-md-3">
      <div class="card text-center" style="background-color:#d9f1f4;">
        <div class="card-block">
          <h4 class="card-title">{{ booking.subject }}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{ booking.time }}  <span class="text-warning">{{ booking.room }}</span></h6>
          <h6 class="card-text">{{ booking.email }}</h6>
          <div *ngIf="booking.email == email" style="padding: 10px;">
            <!-- <button [disabled]="booking.email != email" class="btn btn-warning btn-sm" (click)="update(booking)">
              <i class="fa fa-edit" aria-hidden="true"> Edit</i>
            </button> -->
            <button [disabled]="booking.email != email" class="btn btn-danger btn-sm" (click)="delete(booking)">
              <i class="fa fa-trash" aria-hidden="true"> Delete</i>
            </button>
          </div>
          <br/>
        </div>
      </div>
      <br/>
    </div>
  </div>
</div>

<!-- Modal for Add Booking -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Book Meeting Room</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
          <flash-messages></flash-messages>
          <form name="form" #form novalidate>
            <label for="inputName" class="sr-only">Name</label>
            <input type="name" id="inputName" name="name" [(ngModel)]="name" class="form-control" placeholder="Name (optional)" autofocus>
            
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" name="email" [(ngModel)]="email" class="form-control" placeholder="Email address" required>

            <label for="inputName" class="sr-only">Room</label>
            <select class="form-control" (change)="selectRoom($event.target.value)" required>
              <option value="select">Room</option>
              <option *ngFor="let value of rooms" value={{value}}>{{value}}</option>
            </select>

            <label for="inputName" class="sr-only">Subject</label>
            <input type="name" id="inputSubject" name="subject" [(ngModel)]="subject" class="form-control" placeholder="Subject" required>

            <label for="inputName" class="sr-only">Start Time</label>
            <select class="form-control" (change)="selectStart($event.target.value)" required>
              <option value="select">Start Time</option>
              <option *ngFor="let value of timings" value={{value}}>{{value}}</option>
            </select>

            <label for="inputName" class="sr-only">End Time</label>
            <select class="form-control" (change)="selectEnd($event.target.value)" required>
              <option value="select">End Time</option>
              <option *ngFor="let value of timings" value={{value}}>{{value}}</option>
            </select>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" (click)="onAdd()">Save</button>
      </div>
    </div>
  </div>
</div>